@import "./config/variables.scss";
@import "./config/global.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  position: relative;
  scroll-behavior: smooth;
  color: $color-text-base;
}
.vhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}
.wrapper {
  background-color: $color-bg-base;
  max-width: $wrapper-max;
  min-width: $wrapper-min;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: $container-max-width;
  padding: $container-padding;
  margin: 0 auto;
}

@import "block/*.scss";
