body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  background: url("../img/Caesar_Clown_Anime_Infobox.png") no-repeat 
}
@import "./css-part/*.scss";
@import "./test/jui.scss";
